node_modules/
**/node_modules/

bongal-client/dist/
bongal-server/dist/
bongal-server/build/
bongal-client/.vite/
bongal-client/.cache/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
**/.env
.DS_Store
Thumbs.db
.vscode/
.idea/

docker/*.local
docker/*.tmp
docker-compose.dev.yaml
docker-compose.prod.yaml

bongal-server/uploads/
bongal-server/logs/

coverage/
*.lcov
